.product-img {
  height: 250px;
  width: 100%;
  object-fit: contain;
}

.product-tile {
  margin: 10px auto;
}

section {
  display: flex;
}


#purchaseBtn {
	color: white;
	background: #313131;
	text-align: center;
	padding: 5px;
}


#purchaseBtn:hover {
	background: #0d6efd;
}