:root {
  --panel-height: 500px;
}

h1 {
  text-align: center;
}

.panel,
.panel-link {
  height: var(--panel-height);
  padding: 0;
}

.panel-link {
  display: inline-block;
  width: 100%;
  height: 100%;
}


a {
  color: white;
  text-decoration: none;
}

a:hover {
	color: white;
}

.active {
  color: gray;
}

#header {
	position: absolute;
}

#header:hover {
	background: white;
	transition: background 0.3s ease-in;
}


#header a:hover{
	color: black;
	transition: color 0.3s ease-in;
}

#header:hover #flash {
	color: black;
	transition: color 0.3s ease-in;
}

#header:hover a {
	color: black;
}
.panel-menu {
  height: 100%;
  font-size: 3em;
}

.panel-menu:hover {
	background: rgba(0,0,0,0.5);
	transition: background 0.3s ease-in;
} 

#men {
  background: url('../images/kris.jpg') center;
  background-size: contain;
}

#women {
  background: url('../images/women.jpg') center;
  background-size: cover;
}

#kids {
  background: url('../images/kids.webp') center;
  background-size: cover;
}

#home {
  background: url('../images/home.webp') center;
  background-size: cover;
}
