.tile-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.tile {
  height: 400px;
  margin: 3px;
}

.tile:hover {
  outline: 1px solid lightgray;
}

.tile-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.tile p {
  margin: 0;
}

p {
  text-align: center;
}

.tile a {
  height: 100%;
  color: black;
}

.tile a:hover {
  color: black;
}

.inner {
  height: 100%;
}
