#carousel {
  height: 510px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

#carousel::-webkit-scrollbar {
  display: none;
}
#carousel img {
  height: 170px;
  object-fit: cover;
}

#mainImg {
  max-height: 510px;
  width: 90%;
  object-fit: cover;
}

#color,
#size {
  border-bottom: 1px solid black;
  cursor: default;
  position: relative;
}
.options {
  display: none;
  background: white;
  border: 1px solid black;
  position: absolute;
  width: 100%;
}

.size-option:hover,
.color-option:hover {
  background: #fbfbfb;
}
