:root {
  --panel-height: 500px;
}

h1 {
  text-align: center;
}

.panel,
.panel-link {
  height: var(--panel-height);
  padding: 0;
}

.panel-link {
  display: inline-block;
  width: 100%;
  height: 100%;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
}

.panel-menu {
  height: 100%;
  font-size: 3em;
}

#men {
  background: url('../assets/images/kris.jpg') center;
  background-size: contain;
}

#women {
  background: url('../assets/images/women.jpg') center;
  background-size: cover;
}

#kids {
  background: url('../assets/images/kids.webp') center;
  background-size: cover;
}

#home {
  background: url('../assets/images/home.webp') center;
  background-size: cover;
}
